In [2]:
import re
sample_text = 'Python Exercises, PHP exercises'
print(re.sub("[ ,.]", ":", sample_text))

Python:Exercises::PHP:exercises

In [5]:
   import pandas as pd
   import re
   Dictionary= {'SUMMARY' : ['hello, world!', 'XXXXX test', '123four, five:; six...']}
   df = pd.DataFrame(Dictionary)
   df['SUMMARY'] = df['SUMMARY'].apply(lambda x: re.sub('[^A-Wa-z\s]+', '', x))
   print(df)

         SUMMARY
0    hello world
1           test
2  four five six

In [6]:
import re

def find_allwords(example):
  pattern = re.compile(r'\b\w{4}\b')
  matches = pattern.findall(example)
  return matches


sample = "My Name is Dhiraj Kumar, I am a student of Data Analytics "
result = find_allwords(sample)
print(result)

['Name', 'Data']

In [7]:
import re

def find_allwords(example):
  pattern = re.compile(r'\b\w{3,5}\b')
  matches = pattern.findall(example)
  return matches


sample = "My Name is Dhiraj Kumar, I am a student of Data Analytics "
result = find_allwords(sample)
print(result)

['Name', 'Kumar', 'Data']

In [8]:
import re

def remove_parenthesis(Sample_text):
    pattern = re.compile(r'\(|\)')
    new = [pattern.sub('', string) for string in Sample_text]
    for string in new:
        print(string)

Sample_text =  ["example (.com)", "hr@fliprobo (.com)", "github (.com)", "Hello (Data Science World)", 
"Data (Scientist)"]

remove_parenthesis(Sample_text)

example .com
hr@fliprobo .com
github .com
Hello Data Science World
Data Scientist

In [9]:
import re

def remove_parenthesis(strings):
  pt = re.compile(r"[()]")
  modified_strings = []
  for string in strings:
    modified_string = re.sub(pt, "", string)
    modified_strings.append(modified_string)
  return modified_strings


text = ["example (.com)", "hr@fliprobo (.com)", "github (.com)", "Hello (Data Science World)", "Data (Scientist)"]
result = remove_parenthesis(text)
print(result)

['example .com', 'hr@fliprobo .com', 'github .com', 'Hello Data Science World', 'Data Scientist']

In [10]:
import re
Sample = "ImportanceOfRegularExpressionsInPython"
print(re.findall('[A-Z][^A-Z]*', Sample))

['Importance', 'Of', 'Regular', 'Expressions', 'In', 'Python']

In [11]:
import re

def insert_spaces(text):
  
  pt = r'([a-zA-Z])(\d)'
  result = re.sub(pt, r'\1 \2', text)
  return result

text = "RegularExpression1IsAn2ImportantTopic3InPython"
output = insert_spaces(text)
print(output)

RegularExpression 1IsAn 2ImportantTopic 3InPython

In [12]:
import re

def insert_spaces(text):
  
  pt = r'(\d+(\.\d+)?)'
  result = re.sub(pt, r' \1 ', text)
  return result

text = "RegularExpression1IsAn2ImportantTopic3InPython"
output = insert_spaces(text)
print(output)

RegularExpression 1 IsAn 2 ImportantTopic 3 InPython

In [13]:
import pandas as pd

def process_data(csv_file):
    df = pd.read_csv(csv_file)
    df['first_five_letters'] = df['Country'].str[:6]

    return df

csv_file = 'https://raw.githubusercontent.com/dsrscientist/DSData/master/happiness_score_dataset.csv'
df = process_data(csv_file)
print(df)

         Country                           Region  Happiness Rank  \
0    Switzerland                   Western Europe               1
1        Iceland                   Western Europe               2
2        Denmark                   Western Europe               3
3         Norway                   Western Europe               4
4         Canada                    North America               5
..           ...                              ...             ...
153       Rwanda               Sub-Saharan Africa             154
154        Benin               Sub-Saharan Africa             155
155        Syria  Middle East and Northern Africa             156
156      Burundi               Sub-Saharan Africa             157
157         Togo               Sub-Saharan Africa             158

     Happiness Score  Standard Error  Economy (GDP per Capita)   Family  \
0              7.587         0.03411                   1.39651  1.34951
1              7.561         0.04884                   1.30232  1.40223
2              7.527         0.03328                   1.32548  1.36058
3              7.522         0.03880                   1.45900  1.33095
4              7.427         0.03553                   1.32629  1.32261
..               ...             ...                       ...      ...
153            3.465         0.03464                   0.22208  0.77370
154            3.340         0.03656                   0.28665  0.35386
155            3.006         0.05015                   0.66320  0.47489
156            2.905         0.08658                   0.01530  0.41587
157            2.839         0.06727                   0.20868  0.13995

     Health (Life Expectancy)  Freedom  Trust (Government Corruption)  \
0                     0.94143  0.66557                        0.41978
1                     0.94784  0.62877                        0.14145
2                     0.87464  0.64938                        0.48357
3                     0.88521  0.66973                        0.36503
4                     0.90563  0.63297                        0.32957
..                        ...      ...                            ...
153                   0.42864  0.59201                        0.55191
154                   0.31910  0.48450                        0.08010
155                   0.72193  0.15684                        0.18906
156                   0.22396  0.11850                        0.10062
157                   0.28443  0.36453                        0.10731

     Generosity  Dystopia Residual first_five_letters
0       0.29678            2.51738             Switze
1       0.43630            2.70201             Icelan
2       0.34139            2.49204             Denmar
3       0.34699            2.46531             Norway
4       0.45811            2.45176             Canada
..          ...                ...                ...
153     0.22628            0.67042             Rwanda
154     0.18260            1.63328              Benin
155     0.47179            0.32858              Syria
156     0.19727            1.83302             Burund
157     0.16681            1.56726               Togo

[158 rows x 13 columns]

In [14]:
import re

def is_match(string):
    pattern = r'^[A-Za-z0-9_]+$'
    if re.match(pattern, string):
        return True
    else:
        return False
string = 'Datatrained_Academy123'
print(is_match(string)) 

string = 'Invalid string example'
print(is_match(string))

True
False

In [15]:
import re
def match_num(string):
    text = re.compile(r"^5")
    if text.match(string):
        return True
    else:
        return False
print(match_num('10-234576261'))

print(match_num('546537861'))

False
True

In [16]:
import re
ip = "453.05.047.0132"
st = re.sub('\.[0]*', '.', ip)
print(st)

453.5.47.132

In [61]:
import re 
 
sample_text = "On August 15th 1947 that India was declared independent from British colonialism, and the reins of control were handed over to the leaders of the Country." 
 
pt = r"\b([A-Z][a-z]+) \d{1,2}(?:st|nd|rd|th)? \d{4}\b" 
 
matches = re.findall(pt, sample_text) 
print(matches)

['August']

In [18]:
import re
pt = [ 'fox', 'dog', 'horse' ]
text = 'The quick brown fox jumps over the lazy dog.'
for pattern in pt:
    print('Searching for "%s" in "%s" ->' % (pattern, text),)
    if re.search(pattern,  text):
        print('Matched!')
    else:
        print('Not Matched!')

Searching for "fox" in "The quick brown fox jumps over the lazy dog." ->
Matched!
Searching for "dog" in "The quick brown fox jumps over the lazy dog." ->
Matched!
Searching for "horse" in "The quick brown fox jumps over the lazy dog." ->
Not Matched!

In [19]:
import re
pt = 'fox'
sample_text = 'The quick brown fox jumps over the lazy dog.'
match = re.search(pt, sample_text)
sp = match.start()
ep = match.end()
print('Found "%s" in "%s" from %d to %d ' % \
    (match.re.pattern, match.string, sp, ep))

Found "fox" in "The quick brown fox jumps over the lazy dog." from 16 to 19

In [20]:
import re
sample_text = 'Python exercises, PHP exercises, C# exercises'
search = 'exercises'
for match in re.findall(search, sample_text):
    print('Found "%s"' % match)

Found "exercises"
Found "exercises"
Found "exercises"

In [21]:
import re
sample_text = 'Python exercises, PHP exercises, C# exercises'
pt = 'exercises'
for m in re.finditer(pt, sample_text):
    s = m.start()
    e = m.end()
    print('Found "%s" at %d:%d' % (sample_text[s:e], s, e))

Found "exercises" at 7:16
Found "exercises" at 22:31
Found "exercises" at 36:45

In [22]:
import re
def change_format(dt):
        return re.sub(r'(\d{4})-(\d{1,2})-(\d{1,2})', '\\3-\\2-\\1', dt)
date = "2024-01-09"
print("Original date in YYY-MM-DD Format: ",date)
print("New date in DD-MM-YYYY Format: ",change_format(date))

Original date in YYY-MM-DD Format:  2024-01-09
New date in DD-MM-YYYY Format:  09-01-2024

In [23]:
import re

def decimal_numbers(text):
  pt = re.compile(r'\d+\.\d{1,2}')
  all_decimal_numbers = re.findall(pt, text)
  return all_decimal_numbers


sample_text = "01.12 0132.123 2.31875 145.8 3.01 27.25 0.25"
output = decimal_numbers(sample_text)
print(output)

['01.12', '0132.12', '2.31', '145.8', '3.01', '27.25', '0.25']

In [24]:
import re
def find_numbers(input_string):
    numbers = re.findall(r'\b\d+\b', input_string)
    return [(i, num) for i, num in enumerate(numbers)]

input_string = "My name 20 is 40, 866 dhiraj"
result = find_numbers(input_string)

for index, num in result:
    print(f"Number: {num}, Position: {index + 1}")

Number: 20, Position: 1
Number: 40, Position: 2
Number: 866, Position: 3

In [25]:
import re
string='My marks in each semester are: 947, 896, 926, 524, 734, 950, 642'
num = re.findall('\d+', string)
num = map(int, num)
print("Max_value:",max(num))

Max_value: 950

In [26]:
import re
text='RegularExpressionIsAnImportantTopicInPython"'
words = re.findall('[A-Z][a-z]*', text)
print(' '.join((words)))

Regular Expression Is An Important Topic In Python

In [27]:
import re
def letter_match(text):
        pt = '[A-Z]+[a-z]+$'
        if re.search(pt, text):
                return 'Found a match!'
        else:
                return('Not matched!')
print(letter_match("DaTa"))
print(letter_match("EdUcAtIoN"))
print(letter_match("python"))
print(letter_match("PYTHON"))

Found a match!
Not matched!
Not matched!
Not matched!

In [28]:
import re

def remove_Duplicates(text):
    regex = r'\b(\w+)(?:\W+\1\b)+' 
    return re.sub(regex, r'\1', text,)

str1 = "Hello hello world world"

print(remove_Duplicates(str1))

Hello hello world

In [29]:
import re
regex = '[a-zA-z0-9]$'
def check(string): 
	if(re.search(regex, string)): 
		print("Accept") 
		
	else: 
		print("Discard") 
	
if __name__ == '__main__' : 
	
	string = "dhiraj@" 
	check(string)

	string = "ajay326"
	check(string)

	string = "ankit."
	check(string)

	string = "datascience"
	check(string)

Discard
Accept
Discard
Accept

In [30]:
import re
def extract_hashtags(text):

	pt = "#(\w+)"
	hashtag_list = re.findall(pt, text)
	print("The hashtags in \"" + text + "\" are :")
	for hashtag in hashtag_list:
		print(hashtag)

if __name__ == "__main__":
	text1 = """RT @kapil_kausik: #Doltiwal I mean #xyzabc is "hurt" by #Demonetization as the same has rendered USELESS <ed><U+00A0><U+00BD><ed><U+00B1><U+0089> "acquired funds" No wo"""

	extract_hashtags(text1)

The hashtags in "RT @kapil_kausik: #Doltiwal I mean #xyzabc is "hurt" by #Demonetization as the same has rendered USELESS <ed><U+00A0><U+00BD><ed><U+00B1><U+0089> "acquired funds" No wo" are :
Doltiwal
xyzabc
Demonetization

In [31]:
import re

sample_text = "@Jags123456 Bharat band on 28??<ed><U+00A0><U+00BD><ed><U+00B8><U+0082>Those who are protesting #demonetization are all different party leaders"

pt = r"<U\+\w{4}>"
text = re.sub(pt, "", sample_text)

print(text)

@Jags123456 Bharat band on 28??<ed><ed>Those who are protesting #demonetization are all different party leaders

In [49]:
import re
text = "Ron was born on 12-09-1992 and he was admitted to school 15-12-1999."
pt = "\d{2}[/-]\d{2}[/-]\d{4}"

dates = re.findall(pt, text)


for date in dates:
    if "-" in date:
        day, month, year = map(int, date.split("-"))
    else:
        day, month, year = map(int, date.split("/"))
    if 1 <= day <= 31 and 1 <= month <= 12:
        print(date)

12-09-1992
15-12-1999

In [46]:
import re

def remove_all_words(string):
  pt = re.compile(r'\b\w{2,4}\b')
  modified_string = re.sub(pt, '', string)
  return modified_string


sample_text = "The following example creates an ArrayList with a capacity of 50 elements. 4 elements are then added to the ArrayList and the ArrayList is trimmed accordingly."

result = remove_all_words(sample_text)
print(result)

 following example creates  ArrayList  a capacity   elements. 4 elements   added   ArrayList   ArrayList  trimmed accordingly.